.section {
  padding-inline: 5vw;
  padding-block: 13.333vw;
  background-color: var(--color3);
  text-align: center;
}
.container {
  margin-block: 13.333vw;
  padding: 6.667vw;
  border-radius: 3.333vw;
  background-color: #f8f7cc;
  box-shadow: rgba(50, 50, 93, 0.25) 0vw 2.708vw 5.625vw -1.042vw,
    rgba(0, 0, 0, 0.3) 0vw 1.667vw 3.333vw -1.667vw;
  display: flex;
  flex-direction: column;
  gap: 6.667vw;
}
.group {
  display: flex;
  flex-wrap: wrap;
  gap: 3.333vw;
  align-items: center;
  justify-content: flex-start;
}
.svg_container {
  width: 4.571vw;
  height: 4.571vw;
}
.svg_container > svg {
  max-width: 100%;
  max-height: 100%;
}
.title {
  text-align: left;
  /* flex: 10vw 1; */
  flex-basis: 22.857vw;
  font-weight: bold;
  font-size: 2.286vw;
  /* border: 1px solid black; */
}
.ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.667vw;
  align-self: flex-start;
}
.ul_item {
  font-size: 2vw;
  padding: 1.25vw 2.083vw;
  border-radius: 1.667vw;
  color: attr(data-color type(<color>));
  background-color: attr(data-background-color type(<color>));
}

@media screen and (min-width: 700px) {
  .section {
    padding-inline: 2.188rem;
    padding-block: 5.833rem;
  }
  .container {
    margin-block: 5.833rem;
    padding: 2.917rem;
    border-radius: 1.458rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 1.185rem 2.461rem -0.456rem,
      rgba(0, 0, 0, 0.3) 0rem 0.729rem 1.458rem -0.729rem;
    gap: 2.917rem;
  }
  .group {
    gap: 1.458rem;
  }
  .svg_container {
    width: 2rem;
    height: 2rem;
  }
  .title {
    flex-basis: 10rem;
    font-size: 1rem;
  }
  .ul {
    flex: 1;
    /* width: max-content; */
    gap: 0.729rem;
  }
  .ul_item {
    font-size: 0.875rem;
    padding: 0.547rem 0.911rem;
    border-radius: 0.729rem;
  }
}
