.nav {
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
}
.nav > ul {
  padding-top: 5vw;
  padding-inline: 1.667vw;
}
.nav > ul > li > a {
  display: block;
  color: #666;
  line-height: 2.5;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.333vw;
}
@media screen and (min-width: 700px) {
  .nav > ul {
    padding-top: 2.188rem;
    padding-inline: 0.729rem;
  }
  .nav > ul > li > a {
    font-size: 1.021rem;
  }
}

.nav > ul > li > a:hover {
  color: var(--color4);
}

.active {
  height: unset;
}
