.logo {
  display: inline-block;
  color: var(--font-color);
  font-weight: bold;
  letter-spacing: 0.417vw;
  font-size: 5vw;
  text-decoration: none;
}
.logo:hover {
  color: var(--color4);
}

@media screen and (min-width: 700px) {
  .logo {
    letter-spacing: 0.182rem;
    font-size: 2.188rem;
  }
}
