.section {
  padding-inline: 5vw;
  padding-block: 13.333vw;
  background-color: var(--color5);
  text-align: center;
}
.card_container {
  margin-top: 13.333vw;
  display: grid;
  gap: 4.571vw;
}
.card {
  padding: 3.333vw;
  text-align: left;
  background-color: var(--font-color2);
  box-shadow: rgba(0, 0, 0, 0.16) 0vw 0.625vw 1.25vw,
    rgba(0, 0, 0, 0.23) 0vw 0.625vw 1.25vw;
  border-radius: 3.333vw;
}
.title {
  background-color: var(--color4);
  padding: 1.25vw 2.5vw;
  color: white;
  width: max-content;
  border-radius: 1.667vw;
  font-size: 2.286vw;
}
.ext {
  margin-top: 3.333vw;
  font-size: 2vw;
  color: var(--font-color-sub);
}
.hr {
  margin-top: 3.333vw;
}
.subtitle {
  margin-top: 3.333vw;
  font-size: 2.286vw;
  font-weight: bold;
}
.ul {
  margin-top: 3.333vw;
}
.ul_item {
  line-height: 2;
  list-style: disc;
  list-style-position: inside;
  font-size: 2vw;
}
.github {
  display: inline-flex;
  align-items: center;
  gap: 1.667vw;
  margin-top: 3.333vw;
  color: cornflowerblue;
  text-decoration: none;
  font-size: 2vw;
}

.github::before {
  display: inline-block;
  content: "";
  width: 0.5vw;
  height: 5vw;
  background-color: currentColor;
}

.skillset {
  margin-top: 3.333vw;
  line-height: 1.5;
  border: 0.417vw solid #e68815;
  border-radius: 1.667vw;
  padding: 1.667vw 3.333vw;
  background-color: #edce7a;
  font-size: 2vw;
}

.openBtn {
  margin-top: 3.333vw;
  padding: 1.667vw 3.333vw;
  border-radius: 1.667vw;
  border: 0.417vw solid var(--font-color2-sub);
  display: flex;
  gap: 1.667vw;
  justify-content: flex-start;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
}
.openBtn > div {
  width: 3.333vw;
  height: 3.333vw;
}
.openBtn > div > svg {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 700px) {
  .section {
    padding-inline: 2.188rem;
    padding-block: 5.833rem;
  }
  .card_container {
    margin-top: 5.833rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
  }
  .card {
    grid-template-columns: 1fr 1fr;
    padding: 1.458rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.273rem 0.547rem,
      rgba(0, 0, 0, 0.23) 0rem 0.273rem 0.547rem;
    border-radius: 1.458rem;
  }
  .title {
    padding: 0.547rem 1.094rem;
    border-radius: 0.729rem;
    font-size: 1rem;
  }
  .ext {
    margin-top: 1.458rem;
    font-size: 0.875rem;
  }
  .hr {
    margin-top: 1.458rem;
  }
  .subtitle {
    margin-top: 1.458rem;
    font-size: 1rem;
  }
  .ul {
    margin-top: 1.458rem;
  }
  .ul_item {
    font-size: 0.875rem;
  }
  .github {
    gap: 0.729rem;
    margin-top: 1.458rem;
    font-size: 0.875rem;
  }

  .github::before {
    width: 0.364rem;
    height: 2.188rem;
  }

  .skillset {
    margin-top: 1.458rem;
    border: 0.182rem solid #e68815;
    border-radius: 0.729rem;
    padding: 0.729rem 1.458rem;
    font-size: 0.875rem;
  }

  .openBtn {
    margin-top: 1.458rem;
    padding: 0.729rem 1.458rem;
    border-radius: 0.729rem;
    border: 0.182rem solid var(--font-color2-sub);
    gap: 0.729rem;
    font-size: 0.875rem;
  }
  .openBtn > div {
    width: 1.458rem;
    height: 1.458rem;
  }
}
