.section {
  padding-inline: 5vw;
  padding-block: 13.333vw;
  background-color: var(--color1);
  text-align: center;
}
.card_container {
  display: flex;
  flex-wrap: wrap;
  margin-block: 13.333vw;
  gap: 4.571vw;
}
.card {
  flex-basis: 100%;
  padding: 6.667vw;
  background-color: var(--font-color2);
  border-radius: 3.333vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4.571vw;
  text-align: left;
  cursor: pointer;
}
.card:hover {
  scale: 1.05;
}
.title {
  font-size: 6.857vw;
  font-weight: bold;
  margin-left: 3.333vw;
}
.link {
  flex-basis: 100%;
  font-size: 2.286vw;
}
.desc {
  font-size: 2vw;
}
.link {
  text-decoration: unset;
}
.svg_container {
  width: 9.143vw;
  height: 9.143vw;
}
.svg_container svg {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 700px) {
  .section {
    padding-inline: 2.188rem;
    padding-block: 5.833rem;
  }
  .card_container {
    margin-block: 5.833rem;
    gap: 2rem;
  }
  .card {
    flex: 25rem 1;
    padding: 2.917rem;
    border-radius: 1.458rem;
    row-gap: 2rem;
  }
  .title {
    font-size: 3rem;
    margin-left: 1.458rem;
  }
  .link {
    font-size: 1rem;
  }
  .desc {
    font-size: 0.875rem;
  }
  .svg_container {
    width: 4rem;
    height: 4rem;
  }
}
