.section {
  padding-inline: 5vw;
  padding-block: 13.333vw;
  background-color: var(--color1);
  text-align: center;
}

.card {
  margin-block: 13.333vw;
  padding: 6.667vw;
  background-color: var(--font-color2);
  border-radius: 3.333vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 6.667vw;
  text-align: left;
}
.card:hover {
  scale: 1.05;
}
.card > h3 {
  font-size: 6.667vw;
  font-weight: bold;
  margin-left: 3.333vw;
}

.card > p,
.card > a {
  flex-basis: 100%;
}
.card > a {
  text-decoration: unset;
}
.card > div {
  width: 10vw;
  height: 10vw;
}
.card > div > svg {
  max-width: 100%;
  max-height: 100%;
}
