.section {
  position: relative;
  padding-top: 33.333vw;
  padding-inline: 6.667vw;
  padding-bottom: 6.667vw;
  text-align: center;
  background-image: url("../../../assets/image/hero_img.png");
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 9.143vw;
  word-break: keep-all;
  letter-spacing: 0.833vw;
  font-weight: 900;
  margin-block: 3.333vw;
  line-height: 1.2;
  color: var(--font-color2);
  text-shadow: 0.208vw 0.208vw 0.208vw var(--font-color),
    0.208vw -0.208vw 0.208vw var(--font-color),
    -0.208vw 0.208vw 0.208vw var(--font-color),
    -0.208vw -0.208vw 0.208vw var(--font-color);
  position: relative;
  z-index: 1;
}

.hr {
  width: 20.833vw;
  height: 0.833vw;
  background-color: var(--color3);
  border: none;
  margin-block: 10vw;
  position: relative;
  z-index: 1;
}

.body {
  position: relative;
  font-size: 3.429vw;
  z-index: 1;
  line-height: 1.5;
  color: var(--font-color2);
  text-shadow: 0.208vw 0.208vw 0.208vw var(--font-color),
    0.208vw -0.208vw 0.208vw var(--font-color),
    -0.208vw 0.208vw 0.208vw var(--font-color),
    -0.208vw -0.208vw 0.208vw var(--font-color);
}

.more {
  display: inline-block;
  text-decoration: none;
  padding: 3.333vw;
  position: relative;
  z-index: 1;
  border-radius: 10vw;
  background-color: var(--color3);
  margin-block: 6.667vw;
  color: var(--font-color2);
  font-size: 2.743vw;
}
.section > a:hover {
  background-color: var(--color4);
}
@media screen and (min-width: 700px) {
  .section {
    padding-top: 14.583rem;
    padding-inline: 2.917rem;
    padding-bottom: 2.917rem;
  }
  .title {
    font-size: 4rem;
    letter-spacing: 0.364rem;
    margin-block: 1.458rem;
    text-shadow: 0.091rem 0.091rem 0.091rem var(--font-color),
      0.091rem -0.091rem 0.091rem var(--font-color),
      -0.091rem 0.091rem 0.091rem var(--font-color),
      -0.091rem -0.091rem 0.091rem var(--font-color);
  }

  .hr {
    width: 9.114rem;
    height: 0.364rem;
    margin-block: 4.375rem;
  }

  .body {
    font-size: 1.5rem;
    text-shadow: 0.091rem 0.091rem 0.091rem var(--font-color),
      0.091rem -0.091rem 0.091rem var(--font-color),
      -0.091rem 0.091rem 0.091rem var(--font-color),
      -0.091rem -0.091rem 0.091rem var(--font-color);
  }

  .more {
    padding: 1.458rem;
    border-radius: 4.375rem;
    margin-block: 2.917rem;
    font-size: 1.2rem;
  }
}
