.section {
  padding-inline: 24px;
  padding-block: 64px;
  background-color: white;
  text-align: center;
}
.title {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--font-color);
}
.title > div {
  position: absolute;
  right: calc(100% + 16px);
  width: 32px;
  height: 32px;
}

.title > div > svg {
  max-width: 100%;
  max-height: 100%;
}

.datalist {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.datalist > div {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}

.datalist > div > div:first-child {
  flex-basis: 32px;
  height: 32px;
}

.datalist > div > div > svg {
  max-width: 100%;
  max-height: 100%;
}

.datalist > div > div:last-child {
  flex: 1;
  text-align: left;
}

.datalist > div > div:last-child > dt {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
}

.datalist > div > div:last-child > dd {
  font-size: 12px;
  color: var(--font-color-sub);
  word-break: break-all;
  line-height: 1.2;
}
