.section {
  padding-inline: 5vw;
  padding-block: 13.333vw;
  background-color: white;
  text-align: center;
}

.datalist {
  padding: 13.333vw;
  display: flex;
  flex-direction: column;
  gap: 8.333vw;
}
.datalist > div {
  display: flex;
  gap: 6.667vw;
  justify-content: flex-start;
  align-items: flex-start;
}

.datalist > div > div:first-child {
  flex-basis: 6.667vw;
  height: 6.667vw;
}

.datalist > div > div > svg {
  max-width: 100%;
  max-height: 100%;
}

.datalist > div > div:last-child {
  flex: 1;
  text-align: left;
}

.datalist > div > div:last-child > dt {
  margin-bottom: 3.333vw;
  font-size: 3.333vw;
  font-weight: bold;
  color: var(--font-color);
}

.datalist > div > div:last-child > dd {
  font-size: 3.333vw;
  color: var(--font-color-sub);
  word-break: break-all;
  line-height: 1.2;
}
