.section {
  padding-inline: 24px;
  padding-block: 64px;
  background-color: var(--color2);
  text-align: center;
}
.card {
  padding: 16px;
  margin-top: 64px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: var(--font-color);
  color: var(--font-color2);
  text-align: left;
  line-height: 2;
}
.card > p {
  font-size: 14px;
  color: var(--font-color2-sub);
}
.card > h4 {
  font-size: 24px;
}
