.menu {
  display: inline-block;
  border: 0.208vw solid #aaa;
  width: 8.333vw;
  height: 8.333vw;
  border-radius: 1.25vw;
  padding: 0.417vw;
}
.menu:hover {
  border-color: var(--color4);
}
.menu svg {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 700px) {
  .menu {
    border-width: 0.091rem;
    width: 3.646rem;
    height: 3.646rem;
    border-radius: 0.547rem;
    padding: 0.182rem;
  }
}
