.header {
  position: fixed;
  z-index: 99999;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5vw;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 2.083vw 1.042vw var(--color1);
}
@media screen and (min-width: 700px) {
  .header {
    padding: 1.094rem;
    box-shadow: 0 0 0.911rem 0.456rem var(--color1);
  }
}
