.header {
  position: fixed;
  z-index: 99999;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  top: 0;
  background-color: white;
  box-shadow: 0 0 10px 5px var(--color1);
}
