.title {
  position: relative;
  display: inline-block;
  font-size: 6.667vw;
  font-weight: bold;
  padding-bottom: 1.667vw;
  border-bottom: 0.208vw solid var(--font-color);
}
.title > div {
  position: absolute;
  right: calc(100% + 16px);
  width: 6.667vw;
  height: 6.667vw;
}

.title > div > svg {
  max-width: 100%;
  max-height: 100%;
}
.title.white {
  color: white;
  border-color: white;
}
