.title {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--font-color);
}
.title > div {
  position: absolute;
  right: calc(100% + 16px);
  width: 32px;
  height: 32px;
}

.title > div > svg {
  max-width: 100%;
  max-height: 100%;
}
.title.white {
  color: white;
  border-color: white;
}
